<!DOCTYPE html>
<html xmlns:svg="http://www.w3.org/2000/svg">
<head>
<meta charset="UTF-8">
<title>Test canvas</title>

<link rel="stylesheet" type="text/css" href="../canvas.css" />
<script type="text/javascript" src="../defaults.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript">window.jQuery || include(defaults.common+"scripts/jquery-3.2.1.js")</script>
<script type="text/javascript">include("load.js")</script>
<!-- 
<script src="https://player.vimeo.com/api/player.js"></script>
-->
</head>
<body onload="preload()">
	<div id="canvasses">
		<canvas id="model" width="1200" height="600"
			style="z-index: -1; border-width: 8px;">Browser does not support HTML5 Canvas</canvas>
	</div>
</body>
</html>